<h1>Example#show</h1>
<p>Find me in app/views/example/show.html.erb</p>


<nav> grandma
	<ul> your mom 
		<li class="linknav"> fadsfasfasdfa</li> you (litle joe)
	</ul>
</nav>

nav > li (styling grandma to little joey)

ul li (styling mom to little joey)