 <div id="pushContent"></div>

  <div id= "allContent">


  <div class="hero-section">

      <div class='container'>
    
        <div class="row">
              
              <div class="col-md-6">
                <img class="logo" src="assets/logo.png">
              </div> <!-- end of col-md-12 -->
    
                <div class="col-md-6">
                  <button type="button" class="btn btn_alt" style="
                      float: right;
                      background: none;
                      border: 1px solid white;
                      width: 160px;
                  ">Login
                </button>
              </div> <!-- end of col-md-12 -->
    
            </div><!-- end of row -->

          <div class="row headlineHero_section"> 
          
            <div class='col-md-6'>
              <h1 class="test_headline">
                <span>The easiest way to find visuals mixes for bars and nightclubs </span>
        
              </h1>
               <a href="#pricing"><button type="button" class="btn btn_alt">Get Started</button></a>
            </div> <!-- end of col-md-6 -->

            <div class='col-md-5'>
                <img class="illustration" src="assets/hero_v2.png">
            </div> <!-- end of col-md-8 -->           

          </div> <!-- end of row -->

        </div> <!-- end of container -->

    </div> <!-- end of hero-section -->


    <div class="how-section">

      <div class="container">



              <div class="row">
                <h1 class="description">
                  <span class="header">Easy as 1, 2, 3</span>
                  <span class="subheader">Elevate Customer Experiences </span>
                  <span class="body">
                    Think of us as your personal planning team, focused on removing the
                    Think of us as your Visual DJ team, focused on providing the best 
                <span class="body">visuals to keep your customers engaged at bars 
                </span>
                <span class="body">and lounges</span>
                </h1> <!-- end of description -->
              </div> <!-- end of row -->

       <div class="row">

          <div class="col-md-4">

              <div class='row'>
                <div class="col-md-12">
                    
                  <div class="content-grouper">

                    <img src="assets/Howitworks_1.png">
                    <h3 class="step step_alt">
                      <span class="number">1.</span>
                      <span class="label">Select your plan</span>
                    </h3>
                    <p class="context">Need 3D animations for the DJ's set tonight? Looking for Neon shapes to play on the bars projector screen? Select from our different packages to access over weekly updates of content.</p>

                  </div>

                </div><!-- end of col-md-12 -->
              </div> <!-- end of row -->

           </div> <!-- end of col-md-4 -->


          <div class="col-md-4">

              <div class='row'>
                <div class="col-md-12">
                    
                  <div class="content-grouper">

                    <img src="assets/Howitworks_2.png">
                    <h3 class="step step_second">
                      <span class="number">2.</span>
                      <span class="label">Search for visual mixes</span>
                    </h3>
                    <p class="context">Access content ranging from 20 to 60 minutes from visual artists working with top DJs and producers around the globe.</p>

                  </div>

                </div><!-- end of col-md-12 -->
              </div> <!-- end of row -->

           </div> <!-- end of col-md-4 -->


          <div class="col-md-4">

              <div class='row'>
                <div class="col-md-12">
                    
                  <div class="content-grouper">

                    <img src="assets/Howitworks_3.png">
                    <h3 class="step step_three">
                      <span class="number">3.</span>
                      <span class="label">Download videos</span>
                    </h3>
                    <p class="context">Download high quality videos available to stream on your devices and project at maximum clarity </p>

                  </div>

                </div><!-- end of col-md-12 -->
              </div> <!-- end of row -->

           </div> <!-- end of col-md-4 -->

      

      </div> <!-- end of row -->


      </div> <!-- end of container -->


    </div><!-- end of how-section -->

    <div class="divider">

      <div class="container">

        <div class="callToAction">

            <a href="#pricing"><button type="button" class="btn">Get Started</button></a>

        </div>


      </div><!-- end of container -->       


    </div><!-- end of how-section -->


    <div class="why-section">

              <div class="row">
                <h1 class="description">
                  <span class="header_alt">TourRiders makes life easier</span>
                  <span class="subheader">One task off your busy schedule</span>
                  <span class="body_2">The larger the crowd, the more time spent on planning for entertainment. Leverage our library the best visual mixes to keep your customers having a good time</span>
                </h1> <!-- end of description
              <!-- </div>  --><!-- end of row --> 
    <div class="container">

<!-- -->
  
          <div class="row">


              <div class="col-md-5">

                <div class="row">


                        <div class="col-md-1">

                            <img class="confirmation" src="assets/Why_1.png">

                        </div>

                        <div class="col-md-8 reason-left reason-left-one">

                             <div class="reason-one">

                             <p class="reason-header_one"><span class="emphasis">Enhance customer experiences</span></p>
                             <p class="reason-subheader_one">Excite patrons with visual mixes packed with imagery, colors, and motion designed to hold their attention</p>

                             </div><!-- end of reason-one -->

                        </div> <!-- end of col-md-8 -->


                </div> <!-- end of row -->


                <div class="row">


                        <div class="col-md-1">

                            <img class="headache" src="assets/Why_3.png">

                        </div>

                        <div class="col-md-8 reason-left reason-left-three">

                             <div class="reason-three">

                             <p class="reason-header_one"><span class="emphasis">Standout from competitors</span></p>
                             <p class="reason-subheader_one">Create unique experiences nightly, with newly created visuals avaliable to download regularly</p>

                             </div><!-- end of reason-one -->

                        </div> <!-- end of col-md-8 -->


                </div> <!-- end of row -->


              </div> <!-- end of col-md-5 -->






              <div class="col-md-1">

                <img class="tree" src="http://bitballoon.scdn4.secure.raxcdn.com/65c5553cb0b904b7fe4c52ee8f0f44f970c2f014/2024d/images/tree.png">

              </div>


                      <img class="mobile-users-icon" src="assets/Why_2.png">


              <div class="col-md-5">

                <div class="row">


                        <div class="col-md-11 reason-right reason-right-two">

                             <div class="reason-two">

                             <p class="reason-header_one"><span class="emphasis">Elevate patron satisfaction</span></p>
                             <p class="reason-subheader_one">Allow each visit to feel like customers are attending their favorite concert with amazing visuals </p>

                             </div><!-- end of reason-one -->

                        </div> <!-- end of col-md-8 -->    



                      <div class="col-md-1">

                            <img class="confirmation-2a" src="assets/Why_2.png">

                      </div>                     


                </div> <!-- end of row -->


              </div> <!-- end of col-md-5 -->


              <img class="mobile-wallet-icon" src="assets/Why_4.png">


              <div class="col-md-5">

                <div class="row">


                        <div class="col-md-11 reason-right reason-right-four">

                             <div class="reason-four">

                             <p class="reason-header_one"><span class="emphasis">Exceed attendee expectations</span></p>
                             <p class="reason-subheader_one">Allow each visit to feel like customers are attending their favorite concert at your nightclub or bar</p>

                             </div><!-- end of reason-one -->

                        </div> <!-- end of col-md-8 -->    



                      <div class="col-md-1">

                            <img class="confirmation-2" src="assets/Why_4.png">

                      </div>                     


                </div> <!-- end of row -->


              </div> <!-- end of col-md-5 -->


          </div> <!-- end of row -->

      </div> <!-- end of container -->



    </div><!-- end of why-section -->

    <div class="divider">

      <div class="container">

        <div class="callToAction">

           <a href="#pricing"><button type="button" class="btn">Get Started</button></a>

        </div>


      </div><!-- end of container -->       


    </div><!-- end of how-section -->


    <div class="recent_x`">


              <div class="row">
                <h1 class="description">
                  <span class="subheader">Testimonials</span>
                  <span class="body_3">Read what others are saying our service, and how visual mixes are improving their venue's experiences </span>
                </h1> <!-- end of description
              <!-- </div>  --><!-- end of row --> 

         

      <div class="container">


          <div class="testimony-area">

                <ul id="slider" class="bxslider">
                    <li class="">
                        <p class="quote_text"> 
                            Nightclub patrons and bar-goers want to be dazzled. To meet the demand, streaming visual mixes allows us to meeting customer expectations and enable unique experiences 
                             
                        </p></br>

                       <span class="user_infos">
                            <span class="user_pic">
                                <img class="pic-circle-corner" src="assets/Jessica.jpg" alt="">
                            </span>
                            <span class="user_infos">
                                <span class="user_title">
                                      <a href="https://www.linkedin.com/in/jessica-hall-091b6315">Jessica Hall - Manager</a>
                                  </span><br/>
                                  <span class="user_title">
                                      The 9th Floor
                                  </span><br/>
                                  <span class="user_poste">
                                      Denver, CO
                                  </span>
                            </span>
                        </span>        
                    </li>

                    <li class="">
                        <p> 
                            Visuals keep customers engaged at our property, as well as keep them there with constantly changing imagery that adds to the total experience
                             
                        </p></br>

                       <span class="user_infos">
                            <span class="user_pic">
                                <img class="pic-circle-corner" src="assets/Steven.jpg" alt="">
                            </span>
                            <span class="user_infos">
                              <span class="user_title">
                                    <a href="https://www.linkedin.com/in/steven-feinberg-34590410">Steven Feinberge - Owner/Manager</a>
                                </span><br/>
                                <span class="user_title">
                                    Mosaic Wine Lounge
                                </span><br/>
                                <span class="user_poste">
                                    Raleigh, N.C.
                                </span>
                            </span>
                        </span>  
     
                   
                     </li>  


                    <li class="">
                        <p> 
                             It adds another form of entertainment, giving venues more to offer to guests. Every DJ plays hits songs, but visuals help present the songs in a different way
                             
                        </p></br>

                       <span class="user_infos">
                            <span class="user_pic">
                                <img class="pic-circle-corner" src="assets/Andrew.jpg" alt="">
                            </span>
                            <span class="user_infos">
                                <span class="user_title">
                                    <a href="https://www.linkedin.com/in/andrew-bucket-7305491b">Andrew Bucket - Talent Booker</a>
                                </span><br/>
                                <span class="user_title">
                                    Velvet Lounge
                                </span><br/>
                                <span class="user_poste">
                                    Washington, D.C.
                                </span>
                            </span>
                        </span>        
                   
                     </li>                       


                   </ul>

          </div><!-- end of testimony-area -->


      </div><!-- end of container -->


    </div>

     <div class="divider">

      <div class="container">

        <div class="callToAction2">

            <a href="#pricing"><button type="button" class="btn">Get Started</button></a> 

        </div>


      </div><!-- end of container -->       


    </div><!-- end of how-section -->
   
    <div class="purchase-section">
              <div class="row">
                <h1 class="description description_alt">
                  <a name="pricing"><span class="subheader subheader_alt">Pricing</span></a>
                  <span class="body_3 body_3_alt">Lock in our introductory prices for the next 12 months and gain access to our growing stock of visual mixes.</span>
                </h1> <!-- end of description
              <!-- </div>  --><!-- end of row --> 