

 <div id="pushContent"></div>

  <div id= "allContent">

  <div class="hero-section">

      <div class='container'>
    
        <div class="row navigation">
              
              <div class="col-md-6">
                <img class="logo" src="assets/logo.png">
              </div> <!-- end of col-md-12 -->
    
                <div class="col-md-6">
<!--                   <button type="button" class="btn btn_alt btn--login" style="
                      float: right;
                      background: none;
                      border: 1px solid white;
                      width: 160px;
                      display:none;
                  ">Login
                </button> -->
                <ul class="navigation--links">
                	<li><a href="#what">WHAT WE DO</a></li>

                	<li><a href="#how">HOW IT WORKS</a></li>
                <!-- 	<li><a href="">TESTIMONALS</a></li> -->
                	<li><a href="#pricing">PRICING</a></li>

                	<li><a href="mailto:info@colorfulcollective.tv?subject=">CONTACT</a></li>
                </ul>

                <img class="navigation--hamburger " src="assets/hamburger.png" alt="">

              </div> <!-- end of col-md-12 -->
    
            </div><!-- end of row -->


            <div class="navigation--hamburger--dropdown--hidden">
           	
               	<ul class="navigation--hamburger--dropdown--links--hidden">
                	<li><a href="#what">WHAT WE DO</a></li>

                	<li><a href="#how">HOW IT WORKS</a></li>
                <!-- 	<li><a href="">TESTIMONALS</a></li> -->
                	<li><a href="#pricing">PRICING</a></li>

                	<li><a href="mailto:info@colorfulcollective.tv?subject=">CONTACT</a></li>
                </ul>

            </div> <!-- end of navigation--hamburger--dropdown -->



          <div class="row headlineHero_section"> 
          
            <div class='col-md-10 col-md-offset-1'>

			  <h1 class="test_headline--main">
                <span>Elevate Audience Experiences </span>
              </h1>
              <h1 class="test_headline">
                <span>Visual mixes for your show, delivered monthly to your inbox</span>
              </h1>
<!--                <a href="#pricing"><button type="button" class="btn btn_alt">Get Started</button></a> -->
         </div>  <!-- end of col-md-6 -->

         <div class='col-md-12'>  
                <img class="center-block illustration" src="assets/hero_v2.png">
                 
      	 </div>           

          </div> <!-- end of row -->

        </div> <!-- end of container -->

    </div> <!-- end of hero-section -->


    <div class="how-section">

      <div class="container">



              <div class="row">
                <h1  class="description">
                  <span class="header"></span>
                  <a name="what"></a>
                  <span  class="subheader">Simplify Finding Mixes </span>
                  <span class="body"> 
                    We create and source the best visual mixes for DJ sets. 
                <span class="body"> 
                                   Once our team knows your desired theme preference, each month, we'll send over a new visual mix for your upcoming shows 
                                  
                </span>
   
                </h1> <!-- end of description -->
              </div> <!-- end of row -->





            <div class="container">

                  <div class="row">

                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">
                                
                              <div class="content-grouper">

                                <img class="img-curve test1" src="assets/glow.jpg">
                                <h3 class="step step_alt">
			                      <span class="label">Glow</span>
			                    </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->





                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">
                                
                              <div class="content-grouper">

                                 <img class="img-curve test2" src="assets/3d.jpg">
                                 <h3 class="step step_alt">
			                      <span class="label">3D</span>
			                    </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->


                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">
                                
                              <div class="content-grouper">

                                <img class="img-curve test3" src="assets/abstract.jpg">
                                <h3 class="step step_alt">
			                      <span class="label">Abstract</span>
			                    </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->      

                  </div> <!-- end of row -->




                  <div class="row row__theme--marginTop">

                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">
                                
                              <div class="content-grouper">

                                <img class="img-curve test4" src="assets/cube.jpg">
                                <h3 class="step step_alt">
			                      <span class="label">Cube</span>
			                    </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->





                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">
                                
                              <div class="content-grouper">

                                 <img class="img-curve test5" src="assets/2d.jpg">
                                <h3 class="step step_alt">
			                      <span class="label">2D</span>
			                    </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->


                      <div class="col-md-4">

                          <div class="row">
                            <div class="col-md-12">
                                
                              <div class="content-grouper">

                                <img class="img-curve test6" src="assets/Glitch_N_VHS.jpg">
                                <h3 class="step step_alt">
			                      <span class="label">VHS & Glitch</span>
			                    </h3>

                              </div>

                            </div><!-- end of col-md-12 -->
                          </div> <!-- end of row -->

                       </div> <!-- end of col-md-4 -->      

                  </div> <!-- end of row -->

            </div> <!-- end of container -->

















      <div class="divider">

            <div class="container">

                <div class="callToAction">

                    <a href="#pricing"><button type="button" class="btn">Get Started</button></a>

                </div>

            </div><!-- end of container -->       

            <div class="row">

              <h1 class="description">

              			 <a name="how"></a>
        
                        <span class="subheader">How It Works</span>
                        <span class="body_2">Once you've selected your plan and desired theme, our team will start crafting your personalized visual mix. Most mixes are delivered within 2 - 5 business days </span>
                      </h1>

            </div> <!-- end of row -->



       <div class="row">

          <div class="col-md-4">

              <div class='row'>
                <div class="col-md-12">
                    
                  <div class="content-grouper">

                    <img src="assets/Howitworks_1.png">
                    <h3 class="step step_alt">
                      <span class="number">1.</span>
                      <span class="label">Select your plan</span>
                    </h3>
            <!--         <p class="context">Need 3D animations for the DJ's set tonight? Looking for Neon shapes to play on the bars projector screen? Select from our different packages to receive monthly music visual mixes</p> -->

                  </div>

                </div><!-- end of col-md-12 -->
              </div> <!-- end of row -->

           </div> <!-- end of col-md-4 -->


          <div class="col-md-4">

              <div class='row'>
                <div class="col-md-12">
                    
                  <div class="content-grouper">

                    <img src="assets/Howitworks_2.png">
                    <h3 class="step step_second">
                      <span class="number">2.</span>
                      <span class="label">Select theme preference</span>
                    </h3>
 <!--                    <p class="context">Going for a particular theme for next Saturday? Let us handle tracking down the best music visuals mixes to match your event’s theme</p> -->

                  </div>

                </div><!-- end of col-md-12 -->
              </div> <!-- end of row -->

           </div> <!-- end of col-md-4 -->


          <div class="col-md-4">

              <div class='row'>
                <div class="col-md-12">
                    
                  <div class="content-grouper">

                    <img src="assets/Howitworks_3.png">
                    <h3 class="step step_three">
                      <span class="number">3.</span>
                      <span class="label">Download video</span>
                    </h3>
<!--                     <p class="context">Your curated list of music visual mixes always projects at maximum clarity, using pro formats and auto loop settings</p> -->

                  </div>

                </div><!-- end of col-md-12 -->
              </div> <!-- end of row -->

           </div> <!-- end of col-md-4 -->

      

      </div> <!-- end of row -->


      </div> <!-- end of container -->


    </div><!-- end of how-section -->

    

    </div> <!-- end of divider -->


<!-- BEGIN: Add testimonals here -->


    <div class="divider">

      <div class="container">

        <div class="callToAction">

           <a href="#pricing"><button type="button" class="btn">Get Started</button></a>

        </div>


      </div><!-- end of container  -->      


    </div><!-- end of divider


    <div class="recent_x`">


              <div class="row">
                <h1 class="description">
                  <span class="subheader">Testimonials</span>
                  <span class="body_3">Read what others are saying our service, and how music 
                    <br> visual mixes are improving their venues' experiences </span>
                </h1> <!-- end of description
              <!-- </div>  --><!-- end of row --> 

         

      <div class="container">

            <div class="row">

              <h1 class="description">
                     
                        <span class="subheader">Success Stories</span>
                        <span class="body_2">Read a few of our success stories of DJs using our visual mixes to enhance their performances</span>
                      </h1>

            </div> <!-- end of row -->


          <div class="testimony-area">

                <ul id="slider" class="bxslider">
                    <li class="">
                        <p class="quote_text"> 
                            Nightclub patrons and bar-goers want to be dazzled. To meet the demand, streaming visual mixes opens opportunities to make my set unique 
                             
                        </p></br>

                       <span class="user_infos">
                            <span class="user_pic">
                                <img class="pic-circle-corner" src="assets/robesmoke.png" alt="">
                            </span>
                            <span class="user_infos">
                                <span class="user_title">
                                      <a href="https://soundcloud.com/dead-art-audio">Robsmokebands</a>
                                  </span><br/>
                                  <span class="user_poste">
                                      Washington, D.C.
                                  </span>
                            </span>
                        </span>        
                    </li>

                    <li class="">
                        <p> 
                            Visuals keep audiences engaged at my shows, providing a complete sensory experience
                             
                        </p></br>

                       <span class="user_infos">
                            <span class="user_pic">
                                <img class="pic-circle-corner" src="assets/lastdreamcast.png" alt="">
                            </span>
                            <span class="user_infos">
                              <span class="user_title">
                                    <a href="https://soundcloud.com/burymeinamink">Lastdreamcast + Burymeinamink</a>
                                </span><br/>
                                <span class="user_poste">
                                     Washington, D.C.
                                </span>
                            </span>
                        </span>  
     
                   
                     </li>  


                    <li class="">
                        <p> 
                             It adds another form of entertainment, giving venues more to offer to guests. Every DJ plays hits songs, but visuals help present the songs in a different way
                             
                        </p></br>

                       <span class="user_infos">
                            <span class="user_pic">
                                <img class="pic-circle-corner" src="assets/exaktly.png" alt="">
                            </span>
                            <span class="user_infos">
                                <span class="user_title">
                                    <a href="https://soundcloud.com/exaktly">Exaktly</a>
                                </span><br/>
                                <span class="user_poste">
                                    Washington, D.C.
                                </span>
                            </span>
                        </span>        
                   
                     </li>                       


                   </ul>

          </div><!-- end of testimony-area -->


      </div><!-- end of container -->

<!--   End of Testimonals
 -->

    </div>

     <div class="divider">

      <div class="container">

        <div class="callToAction2">

            <a href="#pricing"><button type="button" class="btn">Get Started</button></a> 

        </div>


      </div><!-- end of container -->       


    </div><!-- end of how-section -->
   
    <div class="purchase-section">
              <div class="row">
                <h1 class="description description_alt">
                  <a name="pricing"></a>
                  <span class="subheader subheader_alt">Pricing</span>
                  <span class="body_2">Lock in our introductory prices for the next 12 months and allow us to handle selecting the best mixes for your venue. </span>
                                     
                </h1> <!-- end of description
              <!-- </div>  --><!-- end of row --> 
          




