<div class="hero-section">
   <div class="confirm-background">
		  <div clas="col-xs-offset-6"> 
		  		<div class="row">
	                <p class="headline_alt">Thank you for your purchase!</p>
                </div>
        
          </div><!-- end of col-xs-offset-6 -->
	</div> <!-- end of confirm-background -->
</div> <!-- end of hero-section -->