<div class="hero-section">
   <div class="confirm-background">
		  <div clas="col-xs-offset-6"> 
		  		<div class="row">
	                <p class="headline">Thank you for your purchase!</p>
                </div>
                <p class="sub_headline">We've added your to our pre-launch list!</p>
          </div><!-- end of col-xs-offset-6 -->
	</div> <!-- end of confirm-background -->
</div> <!-- end of hero-section -->